* {
    margin: 0;
    padding: 0;
}

.popup-container {
    width: 250px;
    padding: 24px;
}

.popup-container-title {
    line-height: 20px;
    border-bottom: 1px solid #ebebeb;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.86);
    padding: 0 0 16px;
}

.popup-container-list {
    margin-top: 15px;
    margin-bottom: 30px;
}

.popup-container-key {
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.86);
    font-weight: 500;
}

.popup-container-opt {
    /* margin-top: 30px; */
}

.popup-container-button {
    width: 70px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: 0.1s;
    font-weight: 500;
    user-select: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
}

.popup-container-button.start {
    background-color: #409eff;
    border-color: #409eff;
    color: #fff;
}

.popup-container-button.stop {
    background-color: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
}

.popup-switch {
    width: 52px;
    height: 24px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}
.popup-switch:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.popup-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}
.popup-switch:checked:before {
    left: 28px;
}
.popup-switch.popup-switch-animbg {
    transition: background-color ease 0.4s;
}
.popup-switch.popup-switch-animbg:before {
    transition: left 0.3s;
}
.popup-switch.popup-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s;
}
.popup-switch.popup-switch-animbg:checked:before {
    transition: left 0.3s;
}
.popup-switch.popup-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s,
        box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}
.popup-switch.popup-switch-anim:before {
    transition: left 0.3s;
}
.popup-switch.popup-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s,
        background-color ease 1.2s;
}
.popup-switch.popup-switch-anim:checked:before {
    transition: left 0.3s;
}
