.ui-friend__current-element-container {
    position: fixed;
    border: 2px solid #E02401;
    z-index: 99999;
    pointer-events: none;
    box-sizing: border-box;
}

.ui-friend__current-element-tag {
    position: absolute;
    display: inline-block;
    background-color: #E02401;
    color: #fff;
    font-size: 12px;
    height: 16px;
    padding: 0 2px;
    border-radius: 2px;
    line-height: 16px;
    pointer-events: none;
    left: -2px;
    top: -16px;
    white-space: nowrap;
}

.ui-friend__target-element-container {
    position: fixed;
    border: 2px solid #1597E5;
    z-index: 99999;
    pointer-events: none;
    box-sizing: border-box;
}

.ui-friend__target-element-tag {
    position: absolute;
    display: inline-block;
    background-color: #1597E5;
    color: #fff;
    font-size: 12px;
    height: 16px;
    padding: 0 2px;
    border-radius: 2px;
    line-height: 16px;
    pointer-events: none;
    left: -2px;
    top: -16px;
    box-sizing: border-box;
    white-space: nowrap;
}

.ui-friend__line {
    position: fixed;
    pointer-events: none;
    z-index: 99999;
}

.ui-friend__line.vertical {
    border-left: 2px dashed #FF7878;
}

.ui-friend__line.horizontal {
    border-top: 2px dashed #FF7878;
}

.ui-friend__line-tag {
    position: absolute;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    border-radius: 8px;
    background-color: #E02401;
    color: #fff;
    z-index: 2;
    white-space: nowrap;
}